<!-- CONTENT -->
<ion-content [fullscreen]="true">
  <!-- SEARCH BAR -->
  <div class="search-container">
    <!-- SEARCH INPUT-->
    <ion-searchbar placeholder="Search here..." inputmode="decimal" type="decimal" (ionChange)="onSearchChange($event)" [debounce]="250" showCancelButton="never" animated></ion-searchbar>
    <!-- FILTER OPTION -->
    <ion-button (click)="onClick()">
      <ion-icon slot="icon-only" name="options"></ion-icon>
    </ion-button>
  </div>
  <!-- CONTENT -->
  <div class="content">
    <ion-card *ngFor="let tutor of tutors" [routerLink]="['/profile']">
      <!-- COVER PHOTO -->
      <img [src]="tutor.coverPhoto" class="cover-photo">
      <ion-item lines="none">
        <!-- AVATAR -->
        <ion-avatar slot="start">
          <img [src]="tutor.avatar"/>
        </ion-avatar>
        <ion-label>
          <!-- NAME -->
          <h2>{{tutor.name}}</h2>
          <!-- DESCRIPTION -->
          <p>{{tutor.description}}</p>
        </ion-label>
      </ion-item>
      <ion-item lines="none">
        <ion-icon name="star" class="icon-star"></ion-icon>
        <div class="spacer-w-xs"></div>
        <ion-label class="rating">71</ion-label>
        <ion-label slot="end" class="pay-rate">P{{tutor.payRate}}/hr</ion-label>
      </ion-item>
    </ion-card>
  </div>
</ion-content>
